
@{
    ViewBag.Title = "Ajax_Update";
}

<h2>Ajax_Update</h2>

@{

    /*
    This file uses a combination of server rendering and ajax logic.
    - Server Rendering to pull current information about the author and display in fields
    - Request to update author with new values is fulfilled by ajax
    */
}

<div class="navlink">
    <a href="/Teacher/Show/@Model.TeacherId">Back</a>
</div>
<div class="main-content">
    <h2>Update @Model.TeacherFname @Model.TeacherLname</h2>
    <div>
        <label>Teacher's First Name</label>
        <input type="text" name="TeacherFname" id="TeacherFname" class="newinput" value="@Model.TeacherFname" />
    </div>

    <div>
        <label>Teacher's Last Name</label>
        <input type="text" name="TeacherLname" id="TeacherLname" class="newinput" value="@Model.TeacherLname" />
    </div>

    <div>
        <label>Employee Number</label>
        <input type="text" name="EmployeeNumber" id="EmployeeNumber" class="newinput" value="@Model.EmployeeNumber" />
    </div>

    <div>
        <label>Salary</label>
        <input type="number" name="TeacherSalary" id="TeacherSalary" step="0.01" class="newinput" value="@Model.TeacherSalary" />
    </div>

    <div>
        <label>Hire Date</label>
        <input type="date" name="TeacherHireDate" id="TeacherHireDate" class="newinput" value="@Model.TeacherHireDate.ToString("yyyy-MM-dd")" />
    </div>


    @{
        //UpdateTeacher() is a JS method defined in /Scripts/teachers.js
        <script src="~/Scripts/teachers.js">
        </script>
    }
    <!--updated validation on 0812-->
    <button onclick="UpdateTeacher(@Model.TeacherId);">Update Teacher</button>

</div>





