@model CumulativeP1.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>Detailed Teacher Information</h2>
<p><em>Please adhere to the Faculty Employee Code and keep the following information confidential.</em></p>

<div>Name: <h4>@Model.TeacherName</h4></div>
<div>Employee ID: <h4>@Model.EmployeeNumber</h4></div>
<div>Hire Date: <h4>@Model.TeacherHireDate</h4></div>
<div>Salary: <h4>@Model.TeacherSalary</h4></div>
<div>Class ID: <h4>@Model.ClassCode</h4></div>
<div>Course: <h4>@Model.ClassName</h4></div>

<div><a href="/Teacher/List">Back To Teacher List</a></div>
