@model CumulativeP1.Models.Teacher
@{
    ViewBag.Title = "Show";
}
<div class="navlink">
    <a href="/Teacher/List">Back To Teacher List</a>
    <a href="/Teacher/Update/@Model.TeacherId">Update</a>
    <a href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
</div>
<div class="main-content">

<h2>Detailed Teacher Information</h2>
<p><em>Please adhere to the Faculty Employee Code and keep the following information confidential.</em></p>

<div>Name: <h5>@Model.TeacherName</h5></div>
<div>Employee ID: <h5>@Model.EmployeeNumber</h5></div>
<div>Hire Date: <h5>@Model.TeacherHireDate</h5></div>
<div>Salary: <h5>@Model.TeacherSalary</h5></div>
<div>Class ID: <h5>@Model.CourseCode</h5></div>
<div>Course: <h5>@Model.CourseName</h5></div>

</div>
